@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.container {
  margin: 30px auto;
  width: 350px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
}

.app {
    width: 400px;
    padding: 50px 20px;
    /* width: 300px;
    padding: 50px 20px; */
  }
  .heading {
    text-align: center;
  }
  .balance {
    margin-top: 50px;
  }
  .balance p {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  .balance h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }
  .income-container {
    display: flex;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 20px 0;
    padding: 20px ;
  }
  .income,
  .expense {
    flex: 1;
    text-transform: uppercase;
    text-align: center;
  }
  .income p,
  .expense p {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
  }
  .income h5,
  .expense h5 {
    margin: 5px 0;
    font-weight: 700;
    font-size: 16px;
  }
  .income {
    border-right: 1px solid #dedede;
  }
  .income h5 {
    color: #2ecc71;
  }
  .expense h5 {
    color: #c0392b;
  }
  .history {
    margin: 15px 0 0;
  }
  .history h4,
  .transaction h4 {
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
  }
  .details {
    padding: 5px 0;
  }
  .single-details {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: white;
    margin: 10px 0;
  }
  .plus {
    border-right: 5px solid #2ecc71;
  }
  .minus {
    border-right: 5px solid #c0392b;
  }
  label {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    font-size: 14px;
  }
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dedede;
    border-radius: 2px;
  }
  input:focus{
    outline-color: rgb(206, 206, 232);
  }
  .transaction-btn button{
    color: white;
    background-color: #9c88ff;
    cursor: pointer;
    width: 100%;
    margin: 10px 0 30px;
    border: none;
    font-size: 16px;
    padding: 10px;
  }
  .del-btn{
    padding: 5px;
    background: #c0392b;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
  }
  .li{
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .li:hover .del-btn{
    display: block;
  }